{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <h1>Community</h1>
  <hr>
  <div class="d-flex">
  {% for review in reviews %}
  <div class="card col-4 m-3">
    <div class="card-body">
      <h5 class="card-title">{{ review.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></h6>
      <p class="card-text">{{ review.content }}</p>
      <form data-review-id="{{ review.pk }}" method="POST" class="d-inline like-form">
        {% csrf_token %}
        {% if user in review.like_users.all %}
          <button id="like-{{ review.pk }}" class="btn btn-outline-danger">좋아요 취소</button>
        {% else %}
          <button id="like-{{ review.pk }}" class="btn btn-outline-danger">좋아요</button>
        {% endif %}
      </form>
      <p><span id="like-count-{{ review.pk }}">
        {{ review.like_users.all|length }}
      </span>
       명이 이 글을 좋아합니다.</p>

       <a href="{% url 'community:detail' review.pk %}"><button type="button" class="btn btn-light">detail</button></a>
      </div>
  </div>
  {% endfor %}
  </div>
{% endblock %}

{% block script %}
<script>
  const likeForms = document.querySelectorAll(".like-form")
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  likeForms.forEach(likeForm => {
    likeForm.addEventListener("submit", event => {
      event.preventDefault()
      const { reviewId } = event.target.dataset
      const likeBtn = document.querySelector(`#like-${reviewId}`)
      const likesCount = document.querySelector(`#like-count-${reviewId}`)

      axios({
        method: "POST",
        url: `/community/${reviewId}/like/`,
        headers: { "X-CSRFToken": csrftoken },
      })
        .then(res => {
          if (res.data.success) {
            const { likeCount, isLike } = res.data
            likeBtn.innerText = isLike ? "좋아요 취소" : "좋아요"
            likesCount.innerText = likeCount
          } else {
            window.location = "/accounts/login/"

          }
        })
        .catch(err => console.error(err))
    })
  })
</script>
{% endblock script %}
